PORT=8008
JWT_SECRET=boomshakalakalakalakalakalakalakalakalak
REFRESH_TOKEN_SECRET=wakandaforever
RABBITMQ_URL=amqp://localhost:5672

DB_HOST='localhost'
DB_USERNAME='root'
DB_PASSWORD=''
DB_DATABASE='rabbitmq'